.generate-key-container {
  width: 511px;
  height: 488px;
  top: 162px;
  left: 705px;
  gap: 0px;
  border-radius: 2px;
  background: #ffffff13;
  padding: 0px 18px;
}

.container-header {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  justify-content: space-between;
}

.from-dashboard-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #160f2e80;
  height: 30px;
  border-radius: 50px;
  padding: 0 10px;
  color: #b69fff;
}

.from-dashboard-class img {
  width: 19px;
}

.from-dashboard-button {
  background: none !important;
  color: #ffffff33;
  border: 1px solid #ffffff33;
}

.container-header h2 {
  font-family: Jost;
  font-size: 18px;
  font-weight: 500;
}

.container-header img {
  width: 26px;
  height: 20px;
  top: 183px;
  left: 732px;
  gap: 0px;
}

.container-body {
  gap: 0px;
  background: #131229;
  padding: 20px;
  height: calc(100% - 113px);
}

.section {
  margin-bottom: 15px;
}

.section-content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  color: white;
  background: #d9d9d90d;
  align-items: center;
}

.section-content .content-right button {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 33px;
  width: 118px;
  background: #131229;
  color: white;
  border: 0;
  font-size: 18px;
  font-weight: 500;
  font-family: "IBM Plex Mono";
}

.middle-icon-wrapper {
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-icon {
  background: #131229;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-icon div {
  border-radius: 50px;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff0d;
}

.section2 .content-right button {
  border: 1px solid #41ff96;
  color: #41ff96;
  padding: 0 10px;
}

.submit-button {
  width: 100%;
  height: 56px;
  background: #41ff96;
  font-family: "IBM Plex Mono";
  font-size: 18px;
  font-weight: 500;
  border-radius: 2px;
  line-height: 23.4px;
}

.content-left p {
  color: #ffffff80;
  font-size: 14px;
  font-family: "IBM Plex Mono";
  font-weight: 500;
  margin: 0;
}
.content-left h3 {
  margin: 0;
  font-size: 36px;
  font-family: "IBM Plex Mono";
  font-weight: 500;
}

.section2 .content-left h3 {
  color: #ffffff80;
}
