.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: url("./images/background.png");
  background-size: cover;
}

.page-top-logo {
  position: absolute;
  top: 35px;
  left: 35px;
  height: 40px;
  width: 51px;
}
